@charset "utf-8";
body {
	background-color: #278092;/*背景色設定*/
	margin: 0px;
	font-family: "微軟正黑體", "Arial Unicode MS";
}
/* CSS Document */

#wrapper {
	width: 900px;   /*寬度設定為900px*/
	margin: auto;   /*版面居中對齊*/
	border: 2px solid #DEECDF;
        }

#header {
	background-image: url(images/header01.jpg);
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
        }

#button {
	/*高度設定*/
	height: 22px;
	
	/*文字設定*/
	font-weight: bolder;
	color: #FFF;
	font-size: 14px;
	
	/*背景色設定*/
    background-color:#6E6E6E;
    
	/*將內定的邊距清除*/
	margin: 0px;
	
	/*將內定的內距清除*/
	padding:0px;
        }
		
#button li {
    /* 讓各個清單元素靠左對齊 */
    float:left;
	/* 設定清單文字範圍的寬度 */
    width:178px;
	
	/* 去除清單文字前面的小點*/
    list-style-type:none;
	
	/* 設定背景色 */
    background-color:#6E6E6E;
	
	/* 讓清單文字居中對齊 */
    text-align:center;
	
	/* 設定字距為2px */
	letter-spacing: 2px;
	
	/* 設定左邊的白邊樣式 */
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	
	/* 右邊留白1像素 */
    margin-right:1px;

}
		
#button li a {
	/* 連結範圍充滿整個區塊 */
    display: block;
	
	/* 單個連結範圍的框度和高度*/
	width: 180px;
	height:20px;
	
    /* 連結範圍向上的內距 */
	padding-top:2px;
	
	/* 連結的文字設為白色以及無裝飾(無底線) */
	color: #FFF;
	text-decoration: none;
}


#button li a:hover{
    /* 設定滑鼠移過時，清單改變的底色設定 */
	background-color:#39919F
}


#content {
	font-size: 14px;
	line-height: 2em;
	color: #333;
	background-color: #DEF1ED;
	padding: 30px;

                }


#footer {
	background-image: url(images/header01.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 1.5em;
	color: #FFF;
	padding: 15px;


         }

h1{
	color: #FFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	margin: 0px;	
}
h4 {
	font-size: 13px;
	font-weight: bolder;
	color: #6365AB;
	border-left-width: 5px;
	border-left-style: dotted;
	border-left-color: #5E6174;
	padding-left: 5px;
}
#content table tr td a {
	color: #2F829D;
	text-decoration: underline;
}
#content table tr td a:hover {
	color: #936;
	text-decoration: none;
}


h2 {
	font-size: 150%;
	font-weight: bolder;
	color: #1E6488;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-left-width: 1em;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #1E6488;
	border-left-color: #59ADDB;
	background-color: #ABDCD2;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #1E6488;
}
#content ul li {
	list-style-image: url(images/arrow_c.jpg);
}



.header-text {
	font-size: 15px;
	color: #D2EFF7;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-style: italic;
	margin: 0px;
}
#content table tr td {
	font-size: 12px;
	line-height: 1.5em;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #2F829D;
}
#content table {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #2F829D;
}
#content table caption {
	font-size: 16px;
	font-weight: bolder;
	color: #2F829D;
	background-color: #C4E6DF;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #2F829D;
}

#content table tr th {
	font-size: 12px;
	font-weight: bolder;
	color: #FFF;
	background-color: #2F829D;
}


.submitBtn1 {
	float: right;
    margin-right: auto;
    
    padding: 15px 30px;
    border: none;
    background-color: #2F829D;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }


.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #2F829D;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }

.submitBtn:hover {
    background-color: #C4E6DF;
    transform: translateY(-2px);
}

.words{
	color: white;
}