<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>修改書籍資料</title>
  <link rel="stylesheet" href="../static/css/allproductupdate.css">
</head>
<body>
    
    <div class="signupFrm" action="/allproductupdate" method="GET">
        
        <form action="/productupdate" class="form" method="POST">
            
            <h4 class="title">修改書籍資料</h4>
            <div class="inputContainer">
                <input type="text" class="input" value={{products.studentID}} name="studentID">
                <label for="" class="label">學號</label><br>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productname}} name="productname">
                <label for="" class="label">書名</label><br>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productAuthor}} name="productAuthor">
                <label for="" class="label">作者</label>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productpress}} name="productpress">
                <label for="" class="label">出版社</label>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productISBN}} name="productISBN">
                <label for="" class="label">ISBN</label>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productdescribe}} name="productdescribe">
                <label for="" class="label">書本狀態</label>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productprice}} name="productprice">
                <label for="" class="label">價格</label>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.producttype}} name="producttype">
                <label for="" class="label">書籍類型</label>
            </div>

            <div class="inputContainer">
                <input type="text" class="input" value={{products.productcall}} name="productcall">
                <label for="" class="label">聯絡方式</label>
            </div>
            
            <div class="inputContainer">
                <input type="text" class="input" value={{products.productimage}} name="productimage">
                <label for="" class="label">書籍圖片網路連結</label>
                
            </div>
            <div class="inputContainer">
                <input type="text" class="input" value={{products.time}} name="time">
                <label for="" class="label">上傳時間</label>
                
            </div>
            <input type="hidden" name="_id" value="{{ products._id }}">
            <br><button class="submitBtn" type="submit"> 送出 </button>   
        </form>
    </div>
    <script src="../static/js/sell.js"></script>
</body>
</html>